--extra-index-url https://download.pytorch.org/whl/cpu

numpy<2

torch==2.2.2
transformers==4.41.2
sentence-transformers==2.7.0

faiss-cpu
fastapi
langgraph
openai
pydantic
pymupdf
python-docx
python-dotenv
python-multipart
python-pptx
requests
uvicorn